@import model.SunInfo
@(sunInfo: SunInfo, temperature: Double, requestCount: Int)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" type="image/png"
           href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <h1>Sun Info</h1>
        <h2>Sunrise Time: @sunInfo.sunrise</h2>
        <h2>Sunset Time: @sunInfo.sunset</h2>
        <h3>Current Temperature: @temperature</h3>
        <h3>Request Count: @requestCount</h3>
    </body>
</html>
